$dark-primary-color: #0097A7;
$light-primary-color: #B2EBF2;
$accent-color:#536DFE;
$primary-color:#00BCD4;
body{
  margin:0;
  padding:0;
  height: 100%;
  max-height:100em;
  width:100%;
  z-index: 1;
  #start{
    z-index:5;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    display: block;
    position: absolute;
    background-color: $light-primary-color;
    overflow:hidden;

    .logodiv{ //w3schools tooltip: https://www.w3schools.com/howto/howto_css_tooltip.asp
      position:absolute;
      bottom:0;
      right:0;
      margin:0 auto;
      display:inline-block;
      width:50%;
      height:100%;
      img{
        height:100%;
        width:auto;
        position:absolute;
        bottom:0;
        right:0;
        margin:0 auto;

      }
      .tooltiptext{
        width: 120px;
        background-color: $accent-color;
        visibility: hidden;
        color: white;
        text-align:center;
        padding:5px 0;
        border-radius: 6px;

        position:absolute;
        z-index: 60;
        bottom:125%;
        left:50%;
        margin-left:-60px;

        opacity:0;
        transition: opacity 0.3s;

        &::after{
          content:" ";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: $accent-color transparent transparent transparent;
        }
        .visible{
            visibility: visible;
          opacity:1;
        }
      }
    }
  }
  #mainpage{
    position: absolute;
    top:100%;
    left:0;
    display:block;
    width:100%;
    height:auto;
  #navbar {
    z-index: 10;
    width:100%;
    nav {
      position:inherit;
      background-color: $dark-primary-color;
    }
  }
    .navbar-relative{
      position: relative;
      top:0;
    }
  .container{
    z-index: 2;
    width: auto;
    height: auto;
    position: absolute;
    /overflow: hidden;
    padding: 0;
    display:block;
    .content {
      position: relative;
      left: 0;
      background-color: $light-primary-color;
      height: 20em;
      width:100%;
      margin: 2.5em 0;
      padding:0;
      float:left;
      overflow: hidden;
      display: flex;


      .thumb{
        position: relative;
        right:0;
        height: 20em;
        width: auto;
        transition: 3s ease-out;
      }
      .previewText{
        display:inline-block;
        posititon:relative;
        max-width:50%;
        height:100%;
        align-content: left;
        float:left;
        margin-left:10px;
      }
    }
    .visiblePreview{
      //transition: 3s;
      position: relative;
      left:20%;
      align-content: right;
      .thumb{
        transition: 3s ease-out;
        position: absolute;
        left:0;

      }
    }

  }
  #bg {
    z-index: -1;
    position:relative;
    bottom:0;
    height:500em;
    max-height: 100%;
    overflow-y: scroll;
    pointer-events: none;
    filter: blur(4px) brightness(100%);


    .layer1 {
      position: relative;
      overflow: hidden;
      top:-60%;
      height: 500em;
      max-height: 100%;
      background-image: url("../img/stormy-sea.png");
      background-size: auto;


    }
    .layer2 {
      position: relative;
      overflow: hidden;
      top:-60%;
      height: 1000em;
      max-height: 110em;
      background-color:darkgrey;
      background-size: auto;
      float:left;

    }
  }
  }
  ::-webkit-scrollbar{
    width: 0;
    background: transparent;
  }
}
