body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  z-index: 1; }
  body #start {
    z-index: 5;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: rgba(48, 63, 159, 0.5);
    overflow: hidden; }
    body #start .logodiv {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0 auto;
      display: inline-block;
      width: 50%;
      height: 100%; }
      body #start .logodiv img {
        height: 100%;
        width: auto;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 auto; }
      body #start .logodiv .tooltiptext {
        width: 120px;
        background-color: #FFC107;
        visibility: hidden;
        color: white;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 60;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s; }
        body #start .logodiv .tooltiptext::after {
          content: " ";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border: 5px solid #FFC107; }
        body #start .logodiv .tooltiptext .visible {
          visibility: visible;
          opacity: 1; }
  body #mainpage {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    height: 100%; }
    body #mainpage #navbar {
      z-index: 10;
      width: 100%; }
      body #mainpage #navbar nav {
        position: inherit;
        background-color: #FFC107; }
    body #mainpage .navbar-relative {
      position: relative;
      top: 0; }
    body #mainpage .navbar-fixed {
      position: fixed;
      top: 0; }
    body #mainpage .container {
      z-index: 2;
      width: 100%;
      height: 100%;
      position: relative;
      padding: 0;
      margin: 0px;
      display: block; }
      body #mainpage .container section {
        padding-top: 10%;
        width: 100%;
        height: 100%;
        display: block; }
        body #mainpage .container section .content {
          position: relative;
          left: 0;
          background-color: #C5CAE9;
          height: auto;
          width: 100%;
          margin: 2.5em 0;
          padding: 0;
          overflow: hidden;
          display: flex; }
          body #mainpage .container section .content .thumb {
            height: 100%;
            width: auto; }
            body #mainpage .container section .content .thumb.material-icons {
              font-size: 10em;
              color: white;
              margin: auto; }
          body #mainpage .container section .content .previewText {
            display: inline-block;
            posititon: relative;
            width: 100%;
            height: 100%;
            margin: 0 auto; }
            body #mainpage .container section .content .previewText div {
              width: 100%;
              background-color: inherit; }
            body #mainpage .container section .content .previewText.fullWidth {
              margin: 0 auto;
              display: block; }
              body #mainpage .container section .content .previewText.fullWidth h1 {
                float: none;
                width: 100%;
                height: 10px;
                display: block;
                margin: 0; }
          body #mainpage .container section .content .About-Content {
            position: relative;
            display: block;
            margin: 0;
            width: 100%;
            height: auto;
            box-shadow: none;
            background-color: #3F51B5; }
            body #mainpage .container section .content .About-Content div {
              background-color: #3F51B5;
              color: white; }
            body #mainpage .container section .content .About-Content .card-content {
              position: relative;
              float: left;
              width: 100%; }
              body #mainpage .container section .content .About-Content .card-content.faehigkeiten {
                overflow: auto;
                width: 100%; }
                body #mainpage .container section .content .About-Content .card-content.faehigkeiten .card-content ul {
                  float: left;
                  width: 50%;
                  margin-right: px; }
                  body #mainpage .container section .content .About-Content .card-content.faehigkeiten .card-content ul .progressBar {
                    width: 100%; }
    body #mainpage #bg {
      z-index: -1;
      height: auto;
      max-height: 1000px;
      overflow-y: scroll; }
      body #mainpage #bg .layer2 {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 100%;
        background-image: url("http://genchi.info/img/singapore-wallpaper-1.jpg");
        background-repeat: no-repeat;
        filter: blur(4px) brightness(100%);
        transform: scale(1.1); }
        @media screen and (orientation: portrait) {
          body #mainpage #bg .layer2 {
            background-size: auto 100%; } }
        @media screen and (orientation: landscape) {
          body #mainpage #bg .layer2 {
            background-size: 100% auto; } }
  body ::-webkit-scrollbar {
    width: 0;
    background: transparent; }

/*# sourceMappingURL=main.css.map */
