$dark-primary-color: #303F9F;
$light-primary-color: #C5CAE9;
$accent-color:#FFC107;
$primary-color:#3F51B5;

body{
  margin:0;
  padding:0;
  height: 100%;
  width:100%;
  z-index: 1;
  overflow-x:hidden;
  background-color: rgba(0,0,0,0.9);
  .sidenav-overlay{
    z-index: 2 !important;
  }
  #start{
    z-index:5;
    margin:0;
    padding:0;
    min-width:100%;
    height:100%;
    display: block;
    position: absolute;
    background-color: rgba($dark-primary-color,0.5);
    overflow:hidden;

    .logodiv{ //w3schools tooltip: https://www.w3schools.com/howto/howto_css_tooltip.asp
      position:absolute;
      bottom:0;
      right:0;
      margin:0 auto;
      min-width:100%;
      min-height:100%;
      height:auto;
      img{
        height:100%;
        width:auto;
        position:absolute;
        bottom:0;
        right:0;
        margin:0 auto;
        display: inline-block;

      }
      .tooltiptext{
        width: 120px;
        background-color: $accent-color;
        visibility: hidden;
        color: white;
        text-align:center;
        padding:5px 0;
        border-radius: 6px;

        position:absolute;
        z-index: 60;
        bottom:125%;
        left:50%;
        margin-left:-60px;

        opacity:0;
        transition: opacity 0.3s;

        &::after{
          content:" ";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border: 5px solid $accent-color;
        }
        .visible{
            visibility: visible;
          opacity:1;
        }
      }
    }
  }
  #mainpage{
    position: absolute;
    top:100%;
    left:0;
    display:block;
    width:100%;
    height:100%;
  #navbar {
    z-index: 10;
    width:100%;
    nav {
      position:inherit;
      background-color: $accent-color;
    }
    .sidenav{
      z-index:9999 !important;
      display:block;
      background-color: $accent-color;
      li{
        float:none;
        display:block;
        margin:0 auto;
        a{
          display:inline;
          color:white !important;
        }
      }
    }
  }
    .navbar-relative{
       position: relative;
       top:0;
     }
    .navbar-fixed{
      position: fixed;
      top:0;
    }
  .container{
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    margin:0px;
    display:block;
    section {
      padding-top:10%;

      width: 100%;
      height: 100%;
      display: block;
      .thumb{
        max-height: 100%;
        max-width:30%;
        float:left;
        display:inline-block;
        @media only screen and (max-width: 949px) {
          display: none !important;
        }
        img{
          float:right;
          max-height:100%;
          width:auto;
        }
      }
      .content {
        position: relative;
        left: 0;
        background-color: $light-primary-color;
        height: auto;
        max-height: 80%;
        width: 100vw;
        margin: 2.5em 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        .previewText {
          display: inline-block;
          posititon: relative;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          padding: 5px;

        }
        .Projects-Content {
          padding: 5px;
          max-height: 80% !important;
          overflow-y: auto;
          margin: 0;
          width: 100%;
          padding: 0;
          .previewText {
            float: none;
            width: auto;
            height: 5em;
            display: block;
            margin: 0 auto;
            h1 {
              margin: 0;
              padding: 0;
            }
          }
          .projectsGrid {

            margin: 0 auto;
            .card {
              min-width: 30% !important;
              min-height: 80% !important;
              float: left;
              margin: 5px;
              padding:5px;
              @media screen and (max-width:649px){
                float: none;
              }

            }
          }
        }
        .Contact-Content {
          padding: 5px;
          height: auto;
          max-height: 80% !important;
          overflow: auto;
          margin: 0;
          padding: 5px;
          width: 100%;
          .previewText {
            float: none;
            width: auto;
            height: 5em;
            display: block;
            margin: 0 auto;
            h1 {
              margin: 0;
              padding: 0;
            }
          }
          .contactInfo {
            overflow: scroll;
            margin-top: 10px;
            height: 100%;
            max-width: 30%;
            padding:5px;
            float: left;
            @media only screen and (max-width: 949px) {
              max-width: 100%;
            }
            .row {
              height: 50%;
              .col {
                display: block;
                width: 30%;
                height: 100%;
                float: left;
                margin: 0;
                padding: 1px;
                a {
                  max-width: 100%;
                  height: 100%;
                  img {
                    width: 100%;
                    height: auto;

                  }
                }
              }
            }

          }
          .contactForm {
            display: block;
            max-width: 100%;
            min-height: 100%;
            form {
              float: left;
              max-width: 80%;
              .row {
                width: 100%;
                margin: 0;
                display: block;
                max-height: 3em;
                .col {
                  float: left;
                  margin: 0;
                  width: 80%;
                  &.s6 {
                    width: 40%;
                  }
                }
              }
            }
          }
        }
      }
      .content2 {
        position: relative;
        left: 0;
        background-color: $primary-color;
        height: auto;
        max-height:100%;
        width: 100vw;
        margin: 2.5em 0;
        padding: 0;
        overflow: hidden;
        display: flex;

        .previewText {
          display: inline-block;
          posititon: relative;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          padding:5px;
          color: white;
        }
        .wrapper {
          height: auto;
          min-height:100%;
          margin:0;
          width: 100%;
          padding:0;
          color: white;
          background-color: $primary-color;
          .previewText {
            width: auto;
            height: auto;
            display: block;
            margin:0 auto;
            color: white;
            h1{
              margin:0;
              padding:0;
            }
          }
          div {
            width: 100%;
            background-color: inherit;
          }


          .About-Content {
            position: relative;
            left: 0;
            display: block;
            margin: 0;
            padding:5px;
            width: 100%;
            overflow-y: auto;
            height:80%;
            box-shadow: none;
            background-color: $primary-color;
            div {
              background-color: inherit;
              color: white;
            }

            .card-content {
              position: relative;
              height: 100%;

              &.div-slider {
                width: auto;
                min-width:40%;
                margin:0;
                float: left;
                min-height:100%!important;
                @media screen and (max-width:649px){
                  float: none;
                }
                .carousel-item{
                  padding: 5px;
                  padding-bottom:10px;
                  height:70%;
                  overflow-y: auto;
                  h2{
                    font-size:2em;
                  }
                  ul{
                    border: none;
                    border-bottom: 1px solid rgba(black,0.12);
                    li{
                      background-color:inherit;
                      border-color: rgba(black,0.12);
                    }
                  }
                }
              }
              .card-tabs{
                .tabs {
                  background-color: $accent-color;
                  a {
                    color: white;
                  }
                }
              }
              &.faehigkeiten {
                position: relative;
                top:0;
                right:0;
                overflow: hidden;
                width: auto;
                min-width: 60% ;
                min-height:100% !important;
                margin:0 0 10px 0;
                @media screen and (max-width:649px){
                  margin-left:0 ;
                }
                .faehigkeiten-subcard {
                  width:100%;
                  height:100% !important;
                  margin:0;
                  box-shadow: none;
                  display:block;
                  .card-content {
                    background-color:$dark-primary-color;
                    ul {
                      float: left;
                      width: 45%;
                      margin-right: 5px;
                      .progressBar {
                        width: 100%;
                      }
                      .progress{
                        background-color:grey;
                        .determinate{
                          background-color: white;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .Files-Content{
            height:auto;
            width:auto;
            overflow-y:auto;
            padding:5px;
            color:white;
            display:block;
            .secure-form{
              display: block;
              #pw-input{
                float:left;
                width:50% !important;
              }
            }
            .hidden-files{
              display:none;
              overflow-y: auto;
              .card-grid{
                display: block;
                height: auto;
                max-height: 50% !important;


                .row{

                  .col{
                    max-height: 50%;
                    float:left;
                    max-width:30%;
                    @media screen and (max-width:649px){
                      float: none;
                      margin:0 auto;
                      max-width: 100%;
                    }
                    .card{
                      .card-image{
                        img{
                          filter:brightness(0.5);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      }
    }
  }
  #bg {
    z-index:-1;
    height:auto;
    max-height: 1000px;
    overflow-y: scroll;

    .layer2 {
      position: fixed;
      top:0;
      left:0;
      display:block;
      height: 100%;
      width:100%;
      background-image: url("../img/bg1.jpg");

      @media screen and (orientation:portrait) {
        background-size: auto 100%;
      }
      @media screen and (orientation:landscape) {
        background-size: 100% auto;
      }
      background-repeat: no-repeat;
      filter: blur(4px) brightness(100%);
      transform: scale(1.1);
    }
  }
  ::-webkit-scrollbar{
    width: 0;
    background: transparent;
  }
  .unselectable {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
  }
}
