$dark-primary-color: #303F9F;
$light-primary-color: #C5CAE9;
$accent-color:#FFC107;
$primary-color:#3F51B5;

body{
  margin:0;
  padding:0;
  height: 100%;
  width:100%;
  z-index: 1;
  #start{
    z-index:5;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    display: block;
    position: absolute;
    background-color: rgba($dark-primary-color,0.5);
    overflow:hidden;

    .logodiv{ //w3schools tooltip: https://www.w3schools.com/howto/howto_css_tooltip.asp
      position:absolute;
      bottom:0;
      right:0;
      margin:0 auto;
      display:inline-block;
      width:50%;
      height:100%;
      img{
        height:100%;
        width:auto;
        position:absolute;
        bottom:0;
        right:0;
        margin:0 auto;

      }
      .tooltiptext{
        width: 120px;
        background-color: $accent-color;
        visibility: hidden;
        color: white;
        text-align:center;
        padding:5px 0;
        border-radius: 6px;

        position:absolute;
        z-index: 60;
        bottom:125%;
        left:50%;
        margin-left:-60px;

        opacity:0;
        transition: opacity 0.3s;

        &::after{
          content:" ";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border: 5px solid $accent-color;
        }
        .visible{
            visibility: visible;
          opacity:1;
        }
      }
    }
  }
  #mainpage{
    position: absolute;
    top:100%;
    left:0;
    display:block;
    width:100%;
    height:100%;
  #navbar {
    z-index: 10;
    width:100%;
    nav {
      position:inherit;
      background-color: $accent-color;
      height:auto;
    }
  }
    .navbar-relative{
       position: relative;
       top:0;
     }
    .navbar-fixed{
      position: fixed;
      top:0;
    }
  .container{
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    margin:0px;
    display:block;
    section {
      padding-top:10%;
      width: 100%;
      height: 100%;
      display: block;
      .content {
        position: relative;
        left: 0;
        background-color: $light-primary-color;
        height: auto;
        max-height:80%;
        width: 100vw;
        margin: 2.5em 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        .thumb{
          height: 100%;
          width:auto;
          float:left;
          &.material-icons{
            font-size:10em;
            color: white;
            margin:auto 0;
          }
          @media only screen and (max-width: 929px) {
            display: none !important;
          }
        }
        .previewText {
          display: inline-block;
          posititon: relative;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          padding:5px;
        }
        .projectsContent{
          height: auto;
          max-height:80%!important;
          overflow:scroll;
          margin:0;
          width: 100%;
          padding:0;
          .previewText {
            float: none;
            width: auto;
            height: 5em;
            display: block;
            margin:0 auto;
            h1{
              margin:0;
              padding:0;
            }
          }
          .projectsGrid{
            overflow: scroll;
            margin-top:10px;
            .card{
              max-width:30% !important;
              max-height:80% !important;
              float:left;
              margin:5px;
            }
          }
        }
        }
      .content2 {
        position: relative;
        left: 0;
        background-color: $primary-color;
        height: auto;
        max-height:100%;
        width: 100vw;
        margin: 2.5em 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        .thumb{
          height: 100%;
          width:auto;
          float:left;
          &.material-icons{
            font-size:10em;
            color: white;
            margin:auto 0;
          }
          @media only screen and (max-width: 929px) {
            display: none !important;
          }
        }
        .previewText {
          display: inline-block;
          posititon: relative;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          padding:5px;
          color: white;
        }
        .wrapper {
          height: auto;
          min-height:100%;
          margin:0;
          width: 100%;
          padding:0;
          color: white;
          background-color: $primary-color;
          .previewText {
            float: left;
            width: auto;
            height: auto;
            display: block;
            margin:0 auto;
            color: white;
            h1{
              margin:0;
              padding:0;
            }
          }
          div {
            width: 100%;
            background-color: inherit;
          }


          .About-Content {
            position: relative;
            left: 0;
            display: block;
            margin: 0;
            padding:0;
            width: 100%;
            overflow: hidden;
            height:80%;
            box-shadow: none;
            background-color: $primary-color;
            div {
              background-color: inherit;
              color: white;
            }
            .card-content {
              position: relative;
              height: 100%;
              &.div-slider {
                width: auto;
                max-width: 40% !important;
                min-width:40%!important;
                margin:0;
                min-height:100%!important;
                .carousel-item{
                  padding: 5px;
                  padding-bottom:10px;
                  height:70%;
                  overflow-y: auto;
                  h2{
                    font-size:2em;
                  }
                  ul{
                    border: none;
                    border-bottom: 1px solid rgba(black,0.12);
                    li{
                      background-color:inherit;
                      border-color: rgba(black,0.12);
                    }
                  }
                }
              }
              .card-tabs{
                .tabs {
                  background-color: $accent-color;
                  a {
                    color: white;
                  }
                }
              }
              &.faehigkeiten {
                position: relative;
                top:0;
                right:0;
                overflow: hidden;
                width: auto;
                max-width: 60% !important;
                min-height:80% !important;
                margin:0;
                .faehigkeiten-subcard {
                  width:100%;
                  height:100% !important;
                  margin:0;
                  box-shadow: none;
                  display:block;
                  .card-content {
                    background-color:$dark-primary-color;
                    ul {
                      float: left;
                      width: 45%;
                      margin-right: 5px;
                      .progressBar {
                        width: 100%;
                      }
                      .progress{
                        background-color:grey;
                        .determinate{
                          background-color: white;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .Files-Content{
            height:auto;
            width:auto;
            color:white;
            display:block;
            .secure-form{
              display: block;
              #pw-input{
                float:left;
                width:50% !important;
              }
            }
            .hidden-files{
              display:none;
              .card-grid{
                display: block;
                height: auto;
                max-height: 50% !important;
                .row{
                  overflow-x: scroll;
                  .col{
                    max-height: 50%;
                    float:left !important;
                    max-width:30% !important;
                  }
                }
              }
            }
          }
        }
      }
      }
    }
  }
  #bg {
    z-index:-1;
    height:auto;
    max-height: 1000px;
    overflow-y: scroll;

    .layer2 {
      position: fixed;
      top:0;
      left:0;
      display:block;
      height: 100%;
      width:100%;
      background-image: url("../img/bg1.jpg");
      @media screen and (orientation:portrait) {
        background-size: auto 100%;
      }
      @media screen and (orientation:landscape) {
        background-size: 100% auto;
      }
      background-repeat: no-repeat;
      filter: blur(4px) brightness(100%);
      transform: scale(1.1);
    }
  }
  ::-webkit-scrollbar{
    width: 0;
    background: transparent;
  }
}
