<div class="card-grid">
    <div class="row">
        <script>
            $files = [
                {Title:'Lebenslauf',
                    imgurl:'img/files/Lebenslauf.PNG',
                    fileurl:'php/files.php?type=lebenslauf'},
                {Title:'Zeugnisse',
                    imgurl:'img/files/Zeugnisse.PNG',
                    fileurl:'files/files.php?type=zeugnisse'},
                {Title:'Zertifikate',
                    imgurl:'img/files/Zertifikate.PNG',
                    fileurl:'files/files.php?type=zertifikate'},
                {Title:'ÜK\'s',
                    imgurl:'img/files/UK.PNG',
                    fileurl:'files/files.php?type=uk'}
            ];
            var Container = $('<div />');
            $files.forEach(function ($file) {
                Container.append('\n <div class="col s4 m7">\n' +
                    '            <div class="card">\n' +
                    '                <div class="card-image">\n' +
                    '                    <img src="'+$file.imgurl+'">\n' +
                    '                    <span class="card-title">'+$file.Title+'</span>\n' +
                    '                </div>\n' +
                    '                <div class="card-action">\n' +
                    '                    <a target="_blank" href="'+$file.fileurl+'">Öffnen</a>\n' +
                    '                </div>\n' +
                    '            </div>\n' +
                    '        </div>');
            });
                $('.card-grid > .row').html(Container);
        </script>

    </div>
</div>